@font-face {
    font-family: 'Inter-Tight-Bold';
    src: url('../fonts/InterTight-Bold.eot');
    src: url('../fonts/InterTight-Bold.eot') format('embedded-opentype'),
        url('../fonts/InterTight-Bold.woff2') format('woff2'),
        url('../fonts/InterTight-Bold.woff') format('woff'),
        url('../fonts/InterTight-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Tight-Regular';
    src: url('../fonts/InterTight-Regular.eot');
    src: url('../fonts/InterTight-Regular.eot') format('embedded-opentype'),
        url('../fonts/InterTight-Regular.woff2') format('woff2'),
        url('../fonts/InterTight-Regular.woff') format('woff'),
        url('../fonts/InterTight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Tight-Medium';
    src: url('../fonts/InterTight-Medium.eot');
    src: url('../fonts/InterTight-Medium.eot') format('embedded-opentype'),
        url('../fonts/InterTight-Medium.woff2') format('woff2'),
        url('../fonts/InterTight-Medium.woff') format('woff'),
        url('../fonts/InterTight-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Tight-Semi-Bold';
    src: url('../fonts/InterTight-SemiBold.eot');
    src: url('../fonts/InterTight-SemiBold.eot') format('embedded-opentype'),
        url('../fonts/InterTight-SemiBold.woff2') format('woff2'),
        url('../fonts/InterTight-SemiBold.woff') format('woff'),
        url('../fonts/InterTight-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

